/home/ubuntu/LLM_env/FluxTensors/linear_layer.egg-info
FluxTensors.egg-info/*
build/
dist/
*.egg-info/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll
*.lib
*.deb
*.whl
*.tar.gz
*.zip
*.rar
*.7z
*.iso
*.img
*.vdi
cuda-repo-ubuntu2004-12-1-local_12.1.0-530.30.02-1_amd64.deb.1
cuda-repo-ubuntu2004-12-1-local_12.1.0-530.30.02-1_amd64.deb

